@import url('https://fonts.cdnfonts.com/css/norse');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

main{
    display: flex;
    height: 100%;
}
a{
    color: unset;
}

#logo_section{
    background-image: url(artem-makhortov-CdVg8-XvKC4-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    flex-shrink: 0;
    color: white;
}

#logo_section p{
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px 0;
    font-size: 12px;
}

#logo{
    font-family: 'Norse', sans-serif;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.514);
    position: relative;
    top: 100px;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    padding: 10px 0;
}

#logo img{
    max-width: 80px;
}



#form_section{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#form_section h3{
    width: 90%;
    font-weight: normal;
}

fieldset {
    border: none;
    width: 100%;
    padding: 25px;
    background-color: white;
}

#inputs_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form_row{
    display: flex;
    width: 60%;
    justify-content: space-between;
   
}
.label_container{
    display: flex;
    flex-direction: column;
}

.label_container label{
    font-size: 10px;
}
fieldset p{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}

button {
    margin-top: 20px;
    border: none;
    padding: 8px 25px; 
    background-color: rgb(109, 97, 97);
    color: white;
    border-radius: 15px;
}